{% extends "base.html" %}
{% block body %}
{% load static %}

<div class="row">
    <div class="col-sm-12">
      <img src="{% static 'images/about.jpg' %}" alt="" style="height: 100%; width: 100%;">
    </div>
  </div>
<div class="container">
      
    <div class="row mt-5">
        <div class="col-sm-11">
            <div class="row mx-auto">
                <div class="col-sm-9 mytext ">
                    <p>The school applies the pedagogy of ‘Engaging the Learner’ and an ‘Interdisciplinary Approach’ to
                        enhance
                        the teaching/ learning experience of the youth. The idea is to move beyond lectures towards the
                        application of engaging activities such as discussions, videos, quizzes, games, and varied
                        online
                        creative resosurces for enhancing the learning process. Technology is integrated into the
                        teaching/learning process, with every classroom being IT-enabled. An interactive teaching
                        methodology
                        encourages students to be active learners and promotes conceptual understanding and reflective
                        practices.</p>

                    <p> In the attempt to provide holistic learning, the school facilitates sessions on Life Skills as
                        well as
                        Intrapersonal and Interpersonal Development. Life Skills are the skills that one needs to build
                        a happy
                        and successful life. These provide young adolescents with a set of tools, skills and winning
                        attitudes
                        which can help them to become all that they are capable of becoming. Special Value Education and
                        Life
                        Skill Sessions by trained counselors endow the students with value based learning.</p>
                </div>
                <div class="col-sm-3 ">
                    <img src="{% static 'images/1st.jpg' %}" alt="" style="height: 280px; width: 380px;">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11">
            <div class="row mx-auto mt-3">
                <div class="col-sm-5 mx-auto">
                    <img src="{% static 'images/2nd.jpg' %}" alt="" style="height: 300px; width: 380px;">
                </div>
                <div class="col-sm-7 ">
                    <p>Teachers, the change-makers of tomorrow, are empowered through regular and constant research in
                        the inviting ambience of the school. Endorsing a learning society and inquisitive mindset,
                        teachers are entrusted with the responsibility of transforming the lives of students by
                        listening to their points of view.</p>

                        <p> teachers are encouraged to reflect, self-appraise and analyze their own learning styles to
                        empathize with and nurture the development of the same among students. The cultural shift that
                        teachers at Jaipuria experience – from being told what to do to innovate and bring in their own
                        uniqueness – gets deciphered into the classroom and fosters motivation.</p>

                        <p>Teachers are no longer only the mentors but equal participants on stage alongside students.
                        Thus, to ensure sound teaching practices, the candidates are professionally screened before
                        recruitment and undergo a rigorous procedure for selection.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="row py-2">
                <div class="col-sm-4">
                    <img src="{% static 'images/3.jpg' %}" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'images/4.jpg' %}" alt="">
                </div>
                <div class="col-sm-4">
                    <img src="{% static 'images/5.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}